<!DOCTYPE html>
<html lang="pl">

<head>
  <meta charset="UTF-8" />
  <title>{{ title or "Firefly III Sync Tool" }}</title>

  <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" />
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
 <script src="https://cdn.jsdelivr.net/npm/htmx.org@1.9.11"></script>

  <script defer src="/static/app.js"></script>
  <script defer src="/static/auth.js"></script>
</head>

<body class="bg-base-200">

  <div class="drawer lg:drawer-open">
    <input id="left-sidebar-drawer" type="checkbox" class="drawer-toggle">

    <!-- CONTENT -->
    <div class="drawer-content flex flex-col">

      <!-- NAVBAR -->
      <div class="navbar sticky top-0 bg-base-100 z-10 shadow-md">
        <div class="flex-none lg:hidden">
          <label for="left-sidebar-drawer" class="btn btn-primary drawer-button">
            ☰
          </label>
        </div>

        <div class="flex-1">
          <h1 class="text-2xl font-semibold ml-2">
            {{ page_title or "Firefly Sync" }}
          </h1>
        </div>

        <div class="flex-none">
          <div class="dropdown dropdown-end ml-4">
            <label tabindex="0" class="btn btn-ghost btn-circle avatar">
              <div class="w-10 rounded-full">
                <img src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.webp" alt="profile" />
              </div>
            </label>
            <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52">
              <li><a>Profil</a></li>
              <li><a>Ustawienia</a></li>
              <li><a onclick="logout()">Wyloguj</a></li>
            </ul>
          </div>
        </div>
      </div>

      <!-- MAIN -->
      <main class="flex-1 overflow-y-auto md:pt-4 pt-4 px-6 bg-base-200">
        {% block content %}
        {% endblock %}
      </main>

    </div>

    <!-- SIDEBAR -->
    <div class="drawer-side z-30">
      <label for="left-sidebar-drawer" class="drawer-overlay"></label>

      <ul class="menu pt-4 w-80 bg-base-100 min-h-full text-base-content">
        <li class="mb-4 text-xl font-semibold px-4">
          {{ site_title or "Firefly III Toolkit" }}
        </li>

        <li>
          <details open>
            <summary>
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round"
                  d="M12 6v12m-3-2.818.879.659c1.171.879 3.07.879 4.242 0 1.172-.879 1.172-2.303 0-3.182C13.536 12.219 12.768 12 12 12c-.725 0-1.45-.22-2.003-.659-1.106-.879-1.106-2.303 0-3.182s2.9-.879 4.006 0l.415.33M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
              </svg>
              BLIK Sync
            </summary>
            <ul>
              <li>
                <a href="/upload">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" aria-hidden="true" class="h-6 w-6">
                    <path stroke-linecap="round" stroke-linejoin="round"
                      d="M9 3.75H6.912a2.25 2.25 0 00-2.15 1.588L2.35 13.177a2.25 2.25 0 00-.1.661V18a2.25 2.25 0 002.25 2.25h15A2.25 2.25 0 0021.75 18v-4.162c0-.224-.034-.447-.1-.661L19.24 5.338a2.25 2.25 0 00-2.15-1.588H15M2.25 13.5h3.86a2.25 2.25 0 012.012 1.244l.256.512a2.25 2.25 0 002.013 1.244h3.218a2.25 2.25 0 002.013-1.244l.256-.512a2.25 2.25 0 012.013-1.244h3.859M12 3v8.25m0 0l-3-3m3 3l3-3">
                    </path>
                  </svg>File Upload</a>
              </li>
              <li>
                <a href="/file/dG1wNHAyZjUzN3I">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round"
                      d="M19.5 14.25v-2.625a3.375 3.375 0 0 0-3.375-3.375h-1.5A1.125 1.125 0 0 1 13.5 7.125v-1.5a3.375 3.375 0 0 0-3.375-3.375H8.25m0 11.625h4.5m-4.5 2.25h4.5m2.121 1.527c-1.171 1.464-3.07 1.464-4.242 0-1.172-1.465-1.172-3.84 0-5.304 1.171-1.464 3.07-1.464 4.242 0M10.5 2.25H5.625c-.621 0-1.125.504-1.125 1.125v17.25c0 .621.504 1.125 1.125 1.125h12.75c.621 0 1.125-.504 1.125-1.125V11.25a9 9 0 0 0-9-9Z" />
                  </svg>File Preview</a>
              </li>
              <li><a href="/match">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round"
                      d="m3.75 13.5 10.5-11.25L12 10.5h8.25L9.75 21.75 12 13.5H3.75Z" />
                  </svg>
                  Match & Update</a></li>
        </li>
      </ul>
      </details>
      <li><a href="/match">Match</a></li>
      <li><a href="/update">Update</a></li>

      </ul>
    </div>
  </div>

</body>

</html>