{% extends "base.html" %}
{% block content %}

<!-- STEPS -->
<div class="card w-full p-6 bg-base-100 shadow-xl mt-2">
    <ul class="steps hidden md:flex flex-none w-1/2">
        <li class="step {{ 'step-primary' if step=='upload' else '' }}"><a href="/upload">Upload</a></li>
        <li class="step {{ 'step-primary' if step=='preview' else '' }}"><a href="/file/{{ file_id }}">File Preview</a>
        </li>
        <li class="step {{ 'step-primary' if step=='match' else '' }}"><a href="/match/{{ file_id }}">Match</a></li>
        <li class="step {{ 'step-primary' if step=='update' else '' }}">Update</li>
    </ul>
</div>


<div class="card w-full p-6 bg-base-100 shadow-xl mt-2">
    <div class="text-xl font-semibold inline-block">Transactions in file {{ file_id }}
    </div>
    <div class="divider mt-2"></div>
    <div class="h-full w-full pb-6 bg-base-100">
        <div id="previewContainer" class="overflow-x-auto w-full">
            <div role="alert" class="alert alert-info">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                    class="h-6 w-6 shrink-0 stroke-current">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                </svg>
                <span>Ładuje Dane...</span>
            </div>
        </div>
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", () => {
        const token = localStorage.getItem("access_token");

        if (!token) {
            // użytkownik niezalogowany → pokaż login
            window.location.href = "/login";
            return;
        }

        // token jest → dopiero wtedy fetch
        loadPreview("{{ file_id }}");
    });
</script>

{% endblock %}