{% extends "base.html" %}
{% block content %}


    <fieldset class="fieldset bg-base-200 border-base-300 rounded-box w-xs border p-4">
        <legend class="fieldset-legend">Login</legend>

        <label class="label">User</label>
        <input id="loginUser" placeholder="nickname"
            class="input"/>
        <label class="label">Password</label>
        <input id="loginPass" type="password" placeholder="password"
            class="input"/>
        <button onclick="login()"
            class="btn btn-neutral mt-4">
            Login
        </button>
    </fieldset>

    <p id="loginError" class="mt-2 text-red-500 text-sm"></p>


{% endblock %}
